.login-form {
  min-height: 600px;
  .form-label {
    font-weight: 600;
  }
  input {
    min-width: 350px;
    border-radius: 0.3rem;
    &::placeholder {
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
}
